<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="线上环境-自动化测试框架-mall项目-Demo">                                                                                                         <test name="用户模块">
        <classes>
            <class name="com.testcase.LoginCase">
                <parameter name="startSheetIndex" value="0"/>
                <parameter name="sheetNum" value="1"/>
            </class>
            <class name="com.testcase.RegisterCase">
                <parameter name="startSheetIndex" value="1"/>
                <parameter name="sheetNum" value="1"/>
            </class>
            <class name="com.testcase.AddRoleCase">
                <parameter name="startSheetIndex" value="2"/>
                <parameter name="sheetNum" value="1"/>
            </class>
            <class name="com.testcase.AddMenuCase">
                <parameter name="startSheetIndex" value="3"/>
                <parameter name="sheetNum" value="1"/>
            </class>
        </classes>
    </test>

</suite>